<!-- Login form -->
<form class="form-control">
    <h4>Login Here</h4>
    <div class="form-floating mt-3 mb-3">
      <input id="empId" name="empId" class="form-control" type="text" placeholder="Enter Employee id :" required>
      <label for="empId"> Employee Id :</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input id="empId" class="form-control" type="text" placeholder="Enter Password : " required>
      <label for="empId"> Password :</label>
    </div>
    <a href="/forgetpw">Forget Password</a>
    <input id="btn_lgin" class="btn btn-success mt-3" type="submit" value="Log in">
  </form>
  <!-- Login form -->
